
<div class="container">
  <div class="mv">
    <div class="mv__img">
      <h1 class="mv__title">#postblog</h1>
    </div>
  </div>
  <section>
    <h2>About mini blog</h2>
  </section>
  <main></main>
  <footer class="footer">
    © 2020 mini blog
  </footer>
</div>
