
<div class="wrapper">
  <div class="common-container">
    <div class="mv">
      <div class="mv-img">
        <h1 class="mv-title">#postblog</h1>
      </div>
    </div>
    <section class="description">
      <div class="description-title">
        <h2 class="description-title-item">About mini blog</h2>
      </div>
      <div class="description-detail">
        <p class="description-detail-txt">mini blog はシンプルなブログ投稿アプリです。</p>
        <p class="description-detail-txt">400文字以内でブログを投稿してください。</p>
        <p class="description-detail-txt">楽しい投稿をお待ちしています。</p>
      </div>
    </section>
    <section class="notes">
      <div class="notes-left">
        <div class="notes-title">
          <h2 class="notes-title-item">How to Use</h2>
        </div>
        <div class="notes-img">
          <img class="notes-img-item" src="<%= image_path('home/top_image.jpg') %>" alt="イメージ画像">
        </div>
      </div>
      <div class="notes-right">
        <ul class="notes-detail">
          <li class="notes-detail-txt">1、新規登録メニューからアカウントを作成してください。</li>
          <li class="notes-detail-txt">2、新規投稿メニューからブログを投稿できます。</li>
          <li class="notes-detail-txt">3、投稿一覧メニューからブログの閲覧ができます。</li>
          <li class="notes-detail-txt">4、ユーザーメニューからお気に入りのユーザーを探しましょう。</li>
          <li class="notes-detail-txt">5、mini blogをお楽しみください。</li>
        </ul>
      </div>
    </section>
  </div>
</div>
