
<div class="main">
  <div class="container">
    <p>投稿の内容が表示される</p>
    <% @posts.each do |post| %>
      <div class="posts-index-item">

        <!-- 投稿詳細へ -->
        <%= link_to(post.content, "/users/#{user.id}") %>
      </div>
    <% end %>
  </div>
</div>
