
<div class="main">
  <div class="container">
    <ul class="posts-index-item">

    <% @posts.each do |post| %>
        <li class="card card-skin">
          <%# 投稿詳細へ飛ぶようにしたい %>
          <a href="/posts/<%= post.user_id %>">
            <div class="card__imgframe"></div>
            <div class="card__textbox">
                <div class="card__user-name">
                </div>
              <div class="card__overviewtext">
                <%= post.content %>
              </div>
            </div>
          </a>
        </li>
        <!-- 投稿詳細へ -->

    <% end %>
    </ul>
  </div>
</div>
