<div class="main">
  <div class="container">
    <div class="post-user-name">
      <div class="post-card-icon">
      </div>
      <p class="post-catch">mini blog</p>
      <p class="post-content">
        <%= @post.content %>
      </p>
    </div>
    <% if @post.user_id == @current_user.id %>
    <div class="post-menu">
      <%= link_to("編集", "/posts/#{@post.id}/edit") %>
      <%= link_to("削除", "/posts/#{@post.id}/destroy", {method:"post"}) %>
    </div>
    <% end %>
  </div>
</div>
