.users-new-content {
  .main {
    height: 100vh;
    padding-top: 5%;
    background: #f5f5f5;
  }
  .container {
    display: flex;
    justify-content: center;
  }
  .form-heading {
    line-height: 1;
  }

  // ヴァリデーションエラーが出た時のcss
  .form-error {
    margin-top: 24px;
    color: red;
  }
  form {
    width: 50%;
    margin: 24px auto 0;
    min-width: 90px;
  }
  .text{
    margin-top: 16px;
  }
  input {
    width: 100%;
    max-width: 100%;
    border: none;
    margin: 24px 0 0 0;
    padding: 10px 10px;
    border-radius: 3px;
    background: darken(#f9f9f9, 10%);
    font-family: Tahoma;
    letter-spacing: 1.5px;
    color: #000;
  }
  .input-image{
    margin-top: 12px;
  }

  .btn-section {
    display: flex;
    justify-content: center;
  }
  .submit-btn {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    border-radius: 2.25em;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
  }
}
